{% extends 'html/base.html' %}

{% block head %}{{ block.super }}->one time password{% endblock head %}
{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Enter your one time password here</h2>
         <form method="post" action="">
             {% csrf_token %}
             <input type="mobile" name="one_time_password" class="one_time_password" placeholder="Enter your one time password here" required>
             <p></p>
             <div id="msg" ></div>
             <input type="submit" class="verify" value="Verify your email" >
         </form>
    </div>

    <script>
        $(document).ready(function () {
            $('.verify').click(function () {
               var otp = $('.one_time_password').val();
               if (otp!=''){

               }else {
                   $('#msg').html("Please enter your one time password");
               }
            });
        });
    </script>
{% endblock content %}